.container {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    height: "100%";
  }
  form {
    border: "1px solid #ddd";
    padding: "20px";
    border-radius: "4px";
  }