.homepage {
  display: flex;
  height: 100vh;
  font-family: Poppins;
  color: #B9B4C7;
}

.homepage-sidebar {
  flex: 2;
  background-color: #f0f0f0;
  padding: 20px;
}

.homepage-content {
  display: flex;
  flex: 8; 
  background-color: #352F44;
  padding: 20px;
  flex-wrap: wrap;

  overflow-y: auto;
  max-height: 100%;
}

/* Style the scrollbar */
.homepage-content::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

.homepage-content::-webkit-scrollbar-thumb {
  background-color: red; /* Black color for the thumb */
}








.homepage-friend-activity {
  flex: 2;
  background-color: #f0f0f0;
  padding: 20px;
}

.homepage-intro-img img{
  background-color: red;
  max-width:100%;
}


.homepage-recommendations p{
  font-size: 40px;
  font-weight: 800;

}

























 .list {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
 .list .item {
  min-width: 140px;
  width: 160px;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.list .item:hover {
  background-color: #252525;
}
 .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
 .list .item .play {
  position: relative;
}
 .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}
 .list .item h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
 .list .item p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}