


/* #root{
    width: 100%;
    height: 100%;


}
#root .App{
  
    width: 100%;
    height: 100%;

} */
.whole-page{
    height: 100%;
    background-color: aliceblue;
    width: 100%;
    display: flex;
}
.sidebar{
    flex:1;
    height: 100%;
    width:10%;
    color:white;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-page{
    width:60%;
    flex:1;
}
.friend-activity{
    background:black;
    width:20;
    flex:1;

}